header {
    display: flex;
    background-color: #004080;
    padding: 20px;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

div {
    background-color: #003366;
    padding: 10px;
}

div p {
    display: flex;
    justify-content: space-evenly;
}

div a {
    color: white;
    text-decoration: none;
}

div a:hover {
    text-decoration: underline;
}

#about {
    background-color: #d4d4d4;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
#about p ol {
    text-align: center;
    list-style-type: none;
}

footer {
    background-color: #004080;
    color: white;
    padding: 10px;
    text-align: center;
}
