body {
    font-family: Arial;
}

h2 {
    color: #004080;
}

header {
    display: flex;
    background-color: #004080;
    padding: 20px;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

div {
    background-color: #003366;
    padding: 10px;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

main {
    background-color: #d4d4d4;
    padding: 20px;    
}
#about {
    margin: 20px;
    text-align: center;
}
#about ul {
    display: flexbox;
    justify-content: center;
    list-style-type: "-";
    list-style-position: inside;
    padding: 0;
}
#about ul li {
    margin: 10px;
}

footer {
    background-color: #004080;
    color: white;
    padding: 10px;
    text-align: center;
}
